header {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-area: "a b c";
  align-items: center;
  padding-inline: 1rem;
}

.home-content {
  grid-area: a;
  display: flex;
  align-items: center;
}

.site-menu-content {
  grid-area: b;
}

.settings-content {
  grid-area: c;
  display: flex;
  justify-content: flex-end;
}
