<header>
  <div class="home-content">
    <a
      routerLink="/"
      (mouseenter)="onLogoMouseEnter()"
      (mouseleave)="onLogoMouseLeave()">
      <img
        [ngSrc]="
          isLogoHovered() ? 'dream-sicle.svg' : 'dream-sicle-outline.svg'
        "
        height="48"
        width="48"
        alt="Dream Sicle Logo" />
      dream-sicle
    </a>
  </div>
  <div class="site-menu-content">
    <nav>
      <a
        [routerLink]="['/users']"
        routerLinkActive="active-link"
        >Users</a
      >
    </nav>
  </div>
  <div class="settings-content">
    <button
      mat-icon-button
      [routerLink]="['/settings']">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</header>
