<table ngGrid>
  <thead>
    <tr ngGridRow>
      <th
        ngGridCell
        style="inline-size: 250px">
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by name"
          (click)="sortByName()">
          Name
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by description"
          (click)="sortByDescription()">
          Description
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by type"
          (click)="sortByType()">
          Type
        </button>
      </th>
      <th
        ngGridCell
        right>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by price"
          (click)="sortByPrice()">
          Price
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by gender"
          (click)="sortByGender()">
          Gender
        </button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (product of productsSorted(); track product.id) {
      <tr ngGridRow>
        <td ngGridCell>
          <ds-grid-cell
            [field]="'name'"
            [value]="product.name"
            (edit)="updateProduct(product, 'name', $event)" />
        </td>
        <td ngGridCell>
          <ds-grid-cell
            [field]="'description'"
            [value]="product.description"
            (edit)="updateProduct(product, 'description', $event)" />
        </td>
        <td ngGridCell>{{ product.productType }}</td>
        <td ngGridCell>{{ product.price }}</td>
        <td ngGridCell>{{ product.gender }}</td>
        <td ngGridCell>
          <a
            ngGridCellWidget
            aria-label="Open product details"
            matTooltip="Open product details"
            [routerLink]="['/products', product.id]">
            <mat-icon>open_in_browser</mat-icon>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
