public-hoist-pattern[]=@angular/aria
public-hoist-pattern[]=@angular/build
public-hoist-pattern[]=@angular/cdk
public-hoist-pattern[]=@angular/cli
public-hoist-pattern[]=@angular/common
public-hoist-pattern[]=@angular/compiler
public-hoist-pattern[]=@angular/compiler-cli
public-hoist-pattern[]=@angular/core
public-hoist-pattern[]=@angular/forms
public-hoist-pattern[]=@angular/material
public-hoist-pattern[]=@angular/platform-browser
public-hoist-pattern[]=@angular/platform-server
public-hoist-pattern[]=@angular/router
public-hoist-pattern[]=@angular/ssr
public-hoist-pattern[]=ngx-cookie-service-ssr
public-hoist-pattern[]=typescript
public-hoist-pattern[]=express
public-hoist-pattern[]=ng-packagr
public-hoist-pattern[]=rxjs
