a {
  text-decoration: none;

  &:not(:has(.mat-icon)) {
    color: var(--app-color-primary);
  }

  &:not(:has(.mat-icon), .mat-mdc-button):hover {
    text-underline-offset: 3px;
    text-decoration: underline;
  }
}
