<form (submit)="onSubmit($event)">
  <header>
    <h2>Welcome to dream sicle!</h2>
    <h4>Sign in to access your account</h4>
  </header>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      [formField]="form.email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      [formField]="form.password" />
    <mat-hint align="end">
      <a href="/unprotected/signup">Don't have an account? Sign up</a>
    </mat-hint>
  </mat-form-field>

  <footer>
    <button
      mat-flat-button
      color="primary"
      type="submit">
      Sign in
    </button>
  </footer>
</form>
