<mat-toolbar>
  @if (isEditing()) {
    <button
      matIconButton
      [matTooltip]="'Cancel editing'"
      (click)="onCancel()">
      <mat-icon>close</mat-icon>
    </button>
    <button
      matIconButton
      [matTooltip]="'Save changes'"
      (click)="onSave($event)">
      <mat-icon>save</mat-icon>
    </button>
  } @else if (isNew()) {
    <button
      matIconButton
      color="primary"
      [matTooltip]="'Create new user'"
      (click)="onNew()">
      <mat-icon>add</mat-icon>
    </button>
  } @else {
    <button
      matIconButton
      [matTooltip]="'Edit user'"
      (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  }
</mat-toolbar>

<form>
  <ng-content />
</form>
