@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    5: #28001f,
    10: #3b002e,
    15: #4d003d,
    20: #60004c,
    25: #73005c,
    30: #87006c,
    35: #9b007d,
    40: #b1008e,
    50: #dc00b2,
    60: #ff33cf,
    70: #ff7dd5,
    80: #ffaddf,
    90: #ffd8ec,
    95: #ffecf4,
    98: #fff8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    5: #27011e,
    10: #350a29,
    15: #411534,
    20: #4e203f,
    25: #5b2b4b,
    30: #683657,
    35: #754163,
    40: #824d6f,
    50: #9e6589,
    60: #ba7ea3,
    70: #d798be,
    80: #f5b3da,
    90: #ffd8ec,
    95: #ffecf4,
    98: #fff8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    5: #001415,
    10: #002021,
    15: #002b2d,
    20: #003739,
    25: #004345,
    30: #004f52,
    35: #005c5f,
    40: #00696d,
    50: #008489,
    60: #00a1a6,
    70: #00bec4,
    80: #00dce3,
    90: #54f8ff,
    95: #bcfcff,
    98: #e5feff,
    99: #f1ffff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    5: #141012,
    10: #1f1a1d,
    15: #2a2427,
    20: #342f31,
    25: #403a3c,
    30: #4b4548,
    35: #575153,
    40: #635d5f,
    50: #7d7578,
    60: #978f91,
    70: #b2a9ac,
    80: #cec4c7,
    90: #eae0e3,
    95: #f9eef1,
    98: #fff8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    5: #170e13,
    10: #22191e,
    15: #2d2328,
    20: #382d33,
    25: #43383e,
    30: #4f4449,
    35: #5b4f55,
    40: #685b61,
    50: #81737a,
    60: #9c8d94,
    70: #b7a7ae,
    80: #d3c2c9,
    90: #f0dee5,
    95: #feecf4,
    98: #fff8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #5a0008,
    20: #8b0013,
    25: #a20019,
    30: #b8001f,
    35: #cc0d26,
    40: #ff1744,
    50: #ff5252,
    60: #ff6e6e,
    70: #ff8a8a,
    80: #ffb3b3,
    90: #ffd6d6,
    95: #ffe8e8,
    98: #fff5f5,
    99: #fffbfb,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
$error-palette: map.merge(map.get($_palettes, error), $_rest);
