:host {
  --ds-command-palette-top: calc(var(--app-header-height) + 50px);
  --ds-command-palette-border-color: transparent;
  --ds-command-palette-background: --app-color-border-gradient(
    var(--mat-sys-primary),
    var(--mat-sys-tertiary),
    var(--mat-sys-surface-container-low)
  );
}

.search-placeholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 200px;
  background: var(--mat-sys-surface-container-low);
  border-radius: var(--mat-sys-corner-small);
  padding: 0.3rem 0.5rem;
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-outline);
}
