:host {
  --_outline: 1px solid color-mix(in srgb, var(--mat-sys-primary) 60%, transparent);
}

table {
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-medium);
  inline-size: 100%;
}

th [ngGridCellWidget],
td {
  padding: 0.5rem 1rem;
}

th {
  &,
  [ngGridCellWidget] {
    text-align: left;

    &[right] {
      text-align: right;
    }
  }

  button {
    border: unset;
    padding: unset;
    color: unset;
    background: unset;
    outline: unset;
    block-size: 100%;
    inline-size: 100%;
    cursor: pointer;
    font: var(--mat-sys-label-large);
  }
}

td {
  position: relative;
  border: 6px solid var(--mat-sys-surface);

  &:not(:has(a)) {
    &:focus-within,
    &:hover {
      outline-offset: -1px;
      outline: var(--_outline);
    }
  }

  &:hover {
    .product-edit-button {
      opacity: 1;
    }
  }

  &:has([data-active-control="widget"]) {
    /* border: 6px solid var(--mat-sys-surface); */
    background: var(--mat-sys-surface-container-low);
  }

  input {
    border: unset;
    padding: unset;
    color: unset;
    background: var(--mat-sys-surface-container-low);
    outline: unset;
    font: var(--mat-sys-body-medium);
    inline-size: 100%;
  }
}

[ngGridCellWidget] {
  outline: unset;
}

.mat-icon:hover {
  color: var(--mat-sys-primary);
}

.product-edit-button {
  position: absolute;
  inset-inline-end: 0.5rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.hidden {
  display: none;
}
