<table ngGrid>
  <thead>
    <tr ngGridRow>
      <th
        ngGridCell
        style="inline-size: 250px">
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by name"
          (click)="sortByName()">
          Name
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by description"
          (click)="sortByDescription()">
          Description
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by type"
          (click)="sortByType()">
          Type
        </button>
      </th>
      <th
        ngGridCell
        right>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by price"
          (click)="sortByPrice()">
          Price
        </button>
      </th>
      <th ngGridCell>
        <button
          ngGridCellWidget
          type="button"
          aria-label="Sort by gender"
          (click)="sortByGender()">
          Gender
        </button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (product of productsSorted(); track product.id) {
      <tr ngGridRow>
        <td ngGridCell>
          <div
            #widgetName="ngGridCellWidget"
            ngGridCellWidget
            aria-label="edit product"
            widgetType="editable"
            (activated)="startInlineEdit($event, 'name', product, inputName)"
            (deactivated)="completeInlineEdit($event, 'name', product)">
            <span [class.hidden]="widgetName.isActivated()">{{ product.name }}</span>
            <input
              #inputName
              [class.hidden]="!widgetName.isActivated()"
              [value]="inlineEditValue()"
              (blur)="inlineEditValue.set(inputName.value)" />
            <mat-icon
              class="product-edit-button"
              matTooltip="Edit product name"
              [class.hidden]="widgetName.isActivated()"
              (click)="onClickEdit(widgetName, 'name', product, inputName)">
              edit
            </mat-icon>
          </div>
        </td>
        <td ngGridCell>
          <div
            #widgetDescription="ngGridCellWidget"
            ngGridCellWidget
            aria-label="edit product description"
            widgetType="editable"
            (activated)="startInlineEdit($event, 'description', product, inputDescription)"
            (deactivated)="completeInlineEdit($event, 'description', product)">
            <span [class.hidden]="widgetDescription.isActivated()">{{ product.description }}</span>
            <input
              #inputDescription
              [class.hidden]="!widgetDescription.isActivated()"
              [value]="inlineEditValue()"
              (blur)="inlineEditValue.set(inputDescription.value)" />
            <mat-icon
              class="product-edit-button"
              matTooltip="Edit product description"
              [class.hidden]="widgetDescription.isActivated()"
              (click)="onClickEdit(widgetDescription, 'description', product, inputDescription)">
              edit
            </mat-icon>
          </div>
        </td>
        <td ngGridCell>{{ product.productType }}</td>
        <td ngGridCell>{{ product.price }}</td>
        <td ngGridCell>{{ product.gender }}</td>
        <td ngGridCell>
          <a
            ngGridCellWidget
            aria-label="Open product details"
            matTooltip="Open product details"
            [routerLink]="['/products', product.id]">
            <mat-icon>open_in_browser</mat-icon>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>
