table {
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-medium);

  th,
  td {
    padding: 0.75rem 1rem;
  }
}

th {
  cursor: pointer;
}

td {
  &:focus-within,
  &:hover {
    outline-offset: -1px;
    outline: 1px solid color-mix(in srgb, var(--mat-sys-primary) 60%, transparent);
  }
}
