:host {
  --_container-inline-size: 100%;
  --_padding: 1.5rem;

  display: block;
  inline-size: 100%;
  block-size: 100%;
  container: form-container / inline-size;
}

app-form {
  inline-size: var(--_container-inline-size);
}

@container form-container (inline-size < 700px) {
  app-form {
    inline-size: 100%;
    gap: 0.9rem;

    .name,
    .contact,
    .address,
    .address2,
    .location {
      .mat-mdc-form-field {
        inline-size: 100%;
      }
    }
  }

  section {
    flex-direction: column;
    gap: 0;
  }
}

section {
  display: flex;
  gap: 0.9rem;
  inline-size: 100%;
}

.mat-mdc-slide-toggle {
  position: absolute;
  inset-block-start: var(--_padding);
  inset-inline-end: var(--_padding);
}

.name {
  justify-content: space-between;

  .mat-mdc-form-field {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 0;
    }

    &:nth-child(3) {
      inline-size: 220px;
    }
  }
}

.contact {
  .mat-mdc-form-field {
    &:first-child {
      inline-size: 50%;
    }

    &:last-child {
      inline-size: 25%;
    }
  }
}

.address,
.address2 {
  .mat-mdc-form-field {
    inline-size: 100%;
  }
}

.location {
  .mat-mdc-form-field {
    &:first-child {
      inline-size: 40%;
    }
  }
}

.zip {
  inline-size: 14ch;
}
