:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

main {
  box-sizing: border-box;
  block-size: calc(100vh - var(--app-header-height));
  inline-size: 100%;
  padding-inline: 2rem;
  overflow: hidden auto;
}
