<header>
  <div class="home-content">
    <a
      routerLink="/"
      (mouseenter)="onLogoMouseEnter()"
      (mouseleave)="onLogoMouseLeave()">
      <img
        [ngSrc]="isLogoHovered() ? 'dream-sicle.svg' : 'dream-sicle-outline.svg'"
        height="48"
        width="48"
        alt="Dream Sicle Logo" />
      dream-sicle
    </a>
  </div>
  <nav class="site-menu-content">
    <a
      [routerLink]="['/users']"
      routerLinkActive="active-link">
      Users
    </a>
    <a
      [routerLink]="['/customers']"
      routerLinkActive="active-link">
      Customers
    </a>
    <a
      [routerLink]="['/products']"
      routerLinkActive="active-link">
      Products
    </a>
  </nav>
  <div class="settings-content">
    <app-search />
    <button
      mat-icon-button
      (click)="settingsButtonClick.emit()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</header>

<ds-breadcrumbs />
